
@{
    ViewData["Title"] = "UploadDemo";
}

<h1>Upload File Here</h1>
<form method="post" action="UploadDemo" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>
